 
 body {
    background-color: #F5F3E4;
}
h1 {
    color: #F5F3E4;
    text-align: center;
    margin: 0;
    padding: 2%;
    background-color: #8E6BAE;
}
.conteiner {
    text-align: center;
    position: fixed;
    bottom: 50px;
    width: 100%
    
}
button {
    border: none;
    outline: none;
    border-radius: 10%;
    color: #F5F3E4;
    height: 60px;
    width: 100px;
    background-color: #8E6BAE;
}

button:hover {
    color: #585641;
    background-color: #dfbdff;
}

.falas_tutor {
    color: #2b8628;
    text-align: left;
}


.falas_vet {
    color: #5c2886;
    text-align: right;
}